/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#wp-companion-mortgage-toolkit.wp-companion-mortgage-wrapper{
	width:100%;
	height: auto;
	font-family: inherit;
	display: flex;
}

#wp-companion-mortgage-toolkit .wp-companion-mortgage__calculator{
	display:block;
	width:100%;
}

#wp-companion-mortgage-toolkit .wp-companion-mortgage__calculator-form{
	display:flex;
	flex-direction: column;
	width:100%;
}

#wp-companion-mortgage-toolkit .wp-companion-mortgage__calculator-form input, .wp-companion-mortgage__calculator-form select{
	margin-bottom: 1em;
	padding: 5px 10px;
	border: 1px solid #eee;
	line-height: 2em;
}